@import "../../styles/variables";

.discover-container {
  font-family: $primary-font;
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary-color;
}

.discover-title-container {
  display: flex;
  width: 100%;
  background-color: blue;
  justify-content: center;
  margin-bottom: 1rem;

  .discover-title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.discover-secondary-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.discover-filter-container {
  display: flex;
  justify-content: space-evenly;

  .discover-sort-container,
  .discover-genre-container,
  .discover-date-container {
    flex: 0.2;
  }
}
.discover-date-menu {
  display: flex;
}

.discover-genre-container {
  width: 30%;
}

.discover-input-container {
  display: flex;
  flex-direction: column;
}

.results-container {
  display: grid;
  justify-content: space-evenly;
  column-gap: 3rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 16rem));
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.result-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
