@import "../../styles/variables";

.movie-wrapper {
  font-family: $primary-font;
  color: $primary-font-color;
  display: flex;
  height: 750px;
  // background-color: yellow;
}

.movie-container {
  margin: 62px 85px 62px 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  width: 100%;
}

.movie-poster {
  display: flex;
  height: 100%;
  img {
    max-width: 430px;
    border-radius: 20px;
    box-shadow: 6px 9px 19px 1px rgba(0, 0, 0, 0.54);
  }
}

// style={{
//   backgroundSize: "cover",
//   borderRadius: "20px",
//   minWidth: "400px",
//   minHeight: "625px",
//   boxShadow: "6px 9px 19px 1px rgba(0,0,0,0.54)",
//   // marginRight: "100px",
// }}

.movie-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // background-color: blue;
  margin: 0;
  margin-left: 100px;

  .movie-title {
    font-size: 42px;
    font-weight: 700;
  }

  .movie-tagline {
    font-size: 21px;
    font-style: italic;
  }

  .movie-info {
    margin-top: 0.5rem;
    font-size: 17px;
    i {
      color: $secondary-color;
      font-size: 15px;
    }
  }

  .movie-rating {
    color: $secondary-color;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 2.1rem;
  }

  .movie-extra-details {
    margin-top: 3rem;
    font-size: 24px;
    font-weight: 700;
  }

  .movie-secondary-title {
    // background-color: red;
    margin: 1.2rem 0;
    font-size: 22px;
    font-weight: 700;
  }

  .movie-synopsis {
    font-size: 16px;
  }
}

.buttons-container {
  // background-color: blue;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0.75rem;
}

.button1,
.button2,
.button3 {
  background: none;
  cursor: pointer;
  outline: none;
  border: 1px solid $secondary-color;
  border-radius: 25px;
  padding: 14px 25px 14px 25px;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $primary-font-color;
  &:hover {
    background: $secondary-color;
    color: $secondary-font-color;
    transition: 0.4s;
    transform: translateY(-3px);
  }
  &:active {
    transition: 0.2s;
    transform: translateY(4px);
  }
  &:focus {
    transition: 0.2s;
  }
}
