@import "./variables";

/* Styling for date-picker module */
.react-datepicker-wrapper {
  display: flex;
}

.react-datepicker__input-container {
  background-color: #303030;
  border-radius: 4px;
  cursor: default;
  display: flex;
  min-height: 38px;
  transition: all 100ms;
  border: 0;
}

.date-picker {
  font-family: $primary-font;
  font-size: 1rem;
  margin-left: 7px;
  color: $primary-font-color;
  background-color: #303030;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  transition: all 100ms;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
