$primary-color: #1e2022;
$secondary-color: #f0f5f9;
$tertiary-color: #52616b;

$primary-font-color: #ffffff;
$secondary-font-color: #1e2022;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hind";
// $tertiary-font:
