$primary-color: #1b181d;
$secondary-color: #db3636;
$tertiary-color: #f1e7e3;
// Possible additional colors: #928D80, #8A8585

$primary-font-color: #c3c3c3;
$secondary-font-color: #1b181d;
// $tertiary-color: #eee;

$primary-font-hover: #db3636;

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Lato";
