$primary-color: #1b181d;
$secondary-color: #b03030;
$tertiary-color: #f1e7e3;
// Possible additional colors: #928D80, #8A8585

$primary-font-color: #c3c3c3;
$secondary-font-color: #1b181d;
// $tertiary-color: #eee;

$primary-font-hover: #b03030;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hind";
