/* SWIPER STYLING */
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 300px;
  background-size: cover;
}
