@import "../../styles/variables";

/* SWIPER STYLING */
.swiper-wrapper {
  background-color: red;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background: $tertiary-color;
}

.swiper-pagination-bullet-active {
  background: $secondary-color;
}

// .swiper-slide {
//   background-size: cover;
// }
