@import "../../styles/variables";

.home-text-wrapper {
  font-family: $primary-font;
  display: flex;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 5.625rem; /* 0px 90px */
  flex: 1;
  min-width: 25rem; /* 400px */
}

.home-backdrop-border {
  clip-path: polygon(12% 0, 100% 0, 88% 100%, 0 100%);
  display: flex;
}

.home-backdrop-gradient {
  display: flex;
  background: linear-gradient(rgba(27, 24, 29, 0.24), rgba(27, 24, 29, 0.24));
}

.home-backdrop-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  flex: 3;
  min-width: 0;
  min-height: 0;
}

.home-title {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 2.0625rem; /* 33px */
  color: $tertiary-color;
}

.home-genre {
  font-size: 1.1875rem; /* 19px */
  display: flex;
  align-content: center;
  color: $tertiary-color;
}

.home-rating-container {
  display: flex;
  color: $secondary-color;
  font-size: 1.125rem; /* 18px */
  padding-top: 0.25rem;
  .home-rating-text {
    padding-left: 0.3rem;
    color: $primary-font-color;
    font-size: 1.0625rem; /* 17px */
  }
}

.home-description {
  font-size: 1.1875rem; /* 19px */
  color: $tertiary-color;
}

/* SWIPER STYLING */
.swiper1 {
  background-color: black;
  overflow: hidden;
}
