@import "../../styles/variables";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 12px 90px;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.nav-items {
  padding-right: 45px;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: flex;
    a {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 16px;
      color: $primary-font-color;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      padding-right: 30px;

      &:hover {
        color: $primary-font-hover;
      }
    }
  }
}

.nav-logo {
  a {
    display: flex;
  }
  img {
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding-right: 10px;
  }
}

.search-container {
  // border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 40px;
  width: 460px;
  display: flex;
  background-color: #2e2e2e;
}

.search-box {
  margin-left: 17px;
  font-family: $primary-font;
  font-size: 15px;
  color: $primary-font-color;
  background-color: transparent;
  border: none;
  width: 100%;
  word-wrap: break-word;
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  margin-right: 17px;
  border: none;

  i {
    color: $primary-font-color;
    font-size: 18px;
  }
}
