@import "../../styles/variables";

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  align-items: center;
  padding: 8px 2%;
}

.nav-items {
  li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;

    a {
      font-family: $primary-font, sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: $primary-font-color;
      text-decoration: none;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $primary-font-hover;
      }
    }
  }
}

.nav-logo {
  img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
