@import "../../styles/variables";

/* Navbar Styling */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 0.75rem 0rem; /* 12px 0px */
  position: fixed;
  width: 90%;
  z-index: 2;
  box-sizing: border-box;
  // box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.nav-items {
  padding-right: 2.8125rem; /* 45px */
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: flex;
    a {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 1rem; /* 16px */
      color: $primary-font-color;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      padding-right: 1.875rem; /* 30px */

      &:hover {
        color: $primary-font-hover;
      }
    }
  }
}

.nav-logo {
  a {
    display: flex;
  }
  img {
    cursor: pointer;
    width: 2.75rem; /* 44px */
    height: 2.75rem; /* 44px */
    padding-right: 0.625rem; /* 10px */
  }
}

.nav-padding {
  padding-top: 4.25rem; /* 68px */
}

/* Search-bar Styling */
.nav-search-container {
  // border: 0.0625rem /* 1px */ solid #dfe1e5;
  box-shadow: none;
  border-radius: 1.5rem; /* 24px */
  height: 2.5rem; /* 40px */
  width: 28.75rem; /* 460px */
  display: flex;
  background-color: #2e2e2e;
}

.nav-search-form {
  height: 2.5rem; /* 40px */
  width: 28.75rem; /* 460px */
  display: flex;
}

.nav-search-box {
  margin-left: 1.0625rem; /* 17px */
  font-family: $primary-font;
  font-size: 0.9375rem; /* 15px */
  color: $primary-font-color;
  background-color: transparent;
  border: none;
  width: 100%;
  word-wrap: break-word;
  outline: none;
}

.nav-search-btn {
  display: flex;
  align-items: center;
  margin-right: 1.0625rem; /* 17px */
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  i {
    color: $primary-font-color;
    font-size: 1.125rem; /* 18px */
  }
}

/* Hamburger styling */
.hamburger-toggle-container {
  display: none;
}

#hamburger-toggle {
  display: none;
}

.hamburger-toggle-icon {
  font-size: 2.3rem;
  color: $secondary-color;
  display: none;
}

@media only screen and (max-width: 1100px) {
  .nav-logo,
  .nav-padding {
    display: none;
  }

  .nav-items {
    padding: 0;
    width: 100%;
    .menu {
      display: none;
    }
  }

  .menu li {
    margin: 0.5rem 0rem 0.5rem 0rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamburger-toggle-container {
    display: block;
  }

  .hamburger-toggle-icon {
    cursor: pointer;
    display: flex;
  }

  #hamburger-toggle {
    &:checked + .nav-container {
      flex-direction: column;
    }

    &:checked + .nav-container > .nav-items > .menu {
      transform: scale(1);
      transition-duration: 2s;
      opacity: 1;
      display: flex;
      flex-direction: column;
    }

    &:checked + .nav-container > .hamburger-toggle-container {
      height: 100%;
      width: 100%;
    }

    &:checked + .nav-container > .nav-search-container {
      margin-top: 0.5rem;
    }
  }

  .nav-search-container {
    box-shadow: none;
    border-radius: 1.5rem;
    height: 2rem;
    width: 22rem;
    display: flex;
    background-color: #2e2e2e;
  }

  .nav-search-form {
    height: 2rem;
    width: 22rem;
  }

  .nav-search-box {
    font-size: 0.825rem;
  }

  .nav-search-btn > i {
    font-size: 1rem;
  }
}
