@import "../../styles/variables";

.carousel-container {
  font-family: $primary-font;
  color: $primary-font-color;
  margin: 1.5625rem 0rem 1.5625rem 0rem; /* 25px 0px 25px 0px */
}

.carousel-header {
  display: flex;
  align-items: center;
}

.carousel-title {
  font-size: 1.7em;
  font-weight: 700;
  padding-right: 0.625rem; /* 10px */
}

.carousel-wrapper {
  position: relative;
  margin: 0.9375rem 0rem 0.9375rem 0rem; /* 15px 0px 15px 0px */
  padding-left: 2.1875rem; /* 35px */
  padding-right: 2.1875rem; /* 35px */
}

.card-slide {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
}

.card-details-container {
  width: 100%;
}

.card-img {
  border-radius: 0.75rem; /* 12px */
  box-shadow: 0.375rem 0.5625rem 1.1875rem 0.0625rem /* 6px 9px 19px 1px */ rgba(0, 0, 0, 0.4);
}

.card-img-placeholder {
  box-sizing: border-box;
  height: 15.75rem;
}

.card-details-title {
  padding-top: 0.375rem; /* 6px */
  font-size: 1.1em;
  font-weight: 700;
}
.card-details-genre {
  font-size: 0.8em;
  padding-top: 0.25rem; /* 4px */
}

.toggle-media {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  padding: 0.125rem 0.625rem 0.125rem 0.625rem; /* 2px 10px 2px 10px */
  cursor: pointer;
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 0.875rem; /* 14px */
  color: $primary-font-color;
  border: 0.0625rem /* 1px */ solid;
  border-radius: 0.75rem; /* 12px */
  border-color: $secondary-color;
  outline: none;
  width: 7.6rem;
}

.upcoming-swiper,
.popular-swiper,
.top-rated-swiper {
  padding-bottom: 1.875rem; /* 30px */
}
