@import "../../styles/variables";

.carousel-container {
  font-family: $primary-font;
  color: $primary-font-color;
  margin: 25px 0px 25px 0px;
}

.carousel-header {
  display: flex;
  align-items: center;
}

.carousel-title {
  font-size: 1.7em;
  font-weight: 700;
  padding-right: 10px;
}

.carousel-wrapper {
  position: relative;
  margin: 15px 0px 15px 0px;
  padding-left: 35px;
  padding-right: 35px;
}

.card-slide {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
}

.card-details-container {
  width: 100%;
}

.card-img {
  border-radius: 12px;
}

.card-details-title {
  padding-top: 6px;
  font-size: 1.1em;
  font-weight: 700;
}
.card-details-genre {
  font-size: 0.8em;
  padding-top: 4px;
}

.toggle-media {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  padding: 2px 10px 2px 10px;
  cursor: pointer;
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 14px;
  color: $primary-font-color;
  border: 1px solid;
  border-radius: 12px;
  border-color: $secondary-color;
  outline: none;
  width: 7.6rem;
}
