@import "../../styles/variables";

.search-wrapper {
  position: relative;
  margin: 0rem 4rem 0rem 4rem;
}

.search-buttons-container {
  display: flex;
  margin: 4rem 0rem 4rem 0rem;
  justify-content: center;

  button {
    margin: 2rem;
  }
}

.search-container {
  display: grid;
  justify-content: space-evenly;
  column-gap: 3rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 13rem));
  margin-bottom: 4rem;
}

.search-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    transform: scale(1.025);
  }

  .search-title {
    font-family: $primary-font;
    color: $primary-font-color;
    font-size: 0.95rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}

.search-img {
  background-color: #181818;
  box-shadow: 6px 9px 19px 1px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  height: 19rem;
  width: 100%;
}

.search-img-placeholder {
  background-color: #181818;
  box-shadow: 6px 9px 19px 1px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  height: 19rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem;
}
