@import "../../styles/variables";

.search-wrapper {
  position: relative;
  margin: 0rem 4rem 0rem 4rem;
}

.search-buttons-container {
  display: flex;
  margin: 4rem 0rem 4rem 0rem;
  justify-content: center;

  button {
    margin: 2rem;
  }
}

.search-container {
  display: grid;
  justify-content: space-evenly;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 13rem));
  margin-bottom: 4rem;
}

.search-item {
  display: flex;
  justify-content: center;

  .search-title {
    font-family: $primary-font;
    color: $primary-font-color;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
}

.search-img {
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
}
